body {
    background: linear-gradient(to bottom right, white, #bcbdc4);
    height: 4000px;
}

a {
    color: white;
    text-decoration: none;
}

p1 {
    color: #1b6192;
    font-family: verdana;
    font-size: 15px;
}

p2 {
    color: #868383;
    font-family: verdana;
    font-size: 15px;
}

p3 {
    color: #1b6192;
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
}

p4 {
    color: #868383;
    font-family: verdana;
    font-size: 10px;
}

p6 {
    color: #1b6192;
    font-family: verdana;
    font-size: 15px;
    word-spacing: 10px;
}

p7 {
    font-size: 20px;
    color: #868383;
    font-family: verdana;
}

#commentprof {
    top: 785px;
    left: 10px;
    width: 30px;
    height: 30px;
}

#commentprof2 {
    top: 560px;
    left: 0px;
    width: 30px;
    height: 30px;
}

#commentboxpos {
    top: 785px;
    left: 50px;
    width: 540px;
    height: 30px;
}

#commentboxpos2 {
    top: 560px;
    left: 40px;
    width: 540px;
    height: 30px;
}

#commentbox {
    width: 540px;
    height: 30px;
}

.headerx {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    color: white;
    z-index: 7;
    font-family: verdana;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: #142170;
    top: 0;
    left: 0;
    color: white;
    z-index: 7;
    font-family: verdana;
}

#searchbox {
    width: 500px;
    height: 26px;
    background: white;
    padding: 5px;
    outline: none;
    border-radius: 10px/10px;
    background-image: url(sr.png);
    background-position: 465px;
    background-repeat: no-repeat;
}

#searcharea {
    top: 17px;
    left: 240px;
    height: 40px;
}

#profilearea {
    top: 15px;
    left: 780px;
    height: 40px;
}

#profilearea1 {
    top: 20px;
    left: 830px;
    height: 20px;
    font-size: 20px;
    font-family: verdana;
}

#profilearea2 {
    top: 10px;
    left: 1150px;
    height: 30px;
    font-size: 30px;
    font-family: verdana;
}

#profilearea3 {
    top: 10px;
    left: 900px;
    height: 30px;
    font-size: 30px;
    font-family: verdana;
}

#profilearea4 {
    top: 20px;
    left: 920px;
    height: 20px;
    font-size: 20px;
    font-family: verdana;
}

#findf {
    top: 15px;
    left: 1015px;
    height: 30px;
}

#message {
    top: 15px;
    left: 1060px;
    height: 30px;
}

#notification {
    top: 15px;
    left: 1105px;
    height: 30px;
}

#img1 {
    left: 100px;
    height: 50px;
    width: 110px;
    top: 25px;
}

#loginbox {
    width: 100px;
    height: 20px;
    background: white;
    padding-left: 5px;
}

#setting {
    top: 15px;
    height: 30px;
    left: 1170px;
}

#logout {
    top: 15px;
    height: 30px;
    left: 1215px;
}

#form1 {
    left: 700px;
    top: 20px;
    height: 60px;
    width: 180px;
}

#form2 {
    left: 895px;
    top: 20px;
    height: 60px;
    width: 200px;
}


}
#button1 {
    background: white;
    color: #142170;
    width: 50px;
    height: 22px;
    cursor: pointer;
}
#submit1 {
    left: 1100px;
    top: 39px;
    height: 25px;
    width: 50px;
}
.bodyx {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 645px;
}
#intro1 {
    top: 40px;
    left: 100px;
    font-family: verdana;
    font-size: 30px;
    color: #142170;
    height: 75px;
    width: 550px;
}
#intro2 {
    top: 40px;
    left: 700px;
    font-family: verdana;
    font-size: 50px;
    color: #142170;
    width: 500px;
    height: 60px;
}
#img2 {
    top: 150px;
    left: 160px;
    height: 250px;
    width: 550px;
}
#intro3 {
    top: 100px;
    left: 700px;
    font-family: verdana;
    font-size: 20px;
    color: #142170;
    height: 50px;
    width: 300px;
}
#namebox {
    width: 200px;
    height: 50px;
    border-radius: 10px/10px;
    background: white;
    padding: 10px;
    font-size: 20px;
}
#form3 {
    top: 150px;
    left: 700px;
    font-family: verdana;
    font-size: 20px;
    color: #142170;
    width: 450px;
    height: 495px;
}
#mailbox {
    width: 400px;
    height: 50px;
    border-radius: 10px/10px;
    background: white;
    padding: 10px;
    font-size: 20px;
}
#button2 {
    width: 100px;
    height: 50px;
    background: green;
    color: white;
    font-size: 20px;
    border-radius: 15px/15px;
    cursor: pointer;
    outline: none;
}
.body1 {
    position: absolute;
    left: 0;
    top: 750px;
    width: 100%;
    height: 80px;
    background: white;
}
#conclu1 {
    width: 930px;
    top: 15px;
    left: 200px;
    color: #bcbdc4;
    height: 60px;
}
.header1 {
    position: fixed;
    width: 100%;
    height: 60px;
    background: ghostwhite;
    top: 0;
    left: 0;
    color: white;
    z-index: 7;
}
.header0001 {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #142170;
    top: 0;
    left: 0;
    color: white;
    z-index: 6;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
#img3 {
    left: 100px;
    height: 50px;
    top: 5px;
}
.bodyn {
    top: 70px;
    left: 30px;
    position: absolute;
    width: 200px;
    height: 740px;
    font-family: verdana;
}
#column-1 {
    left: 0px;
    top: 0px;
    background: white;
    width: 580px;
    height: 200px;
    border-radius: 3px/3px;
    font-size: 15px;
    font-family: verdana;
    color: #1b6192;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
#postpos {
    left: 450px;
    top: 170px;
    width: 85px;
    height: 30px;
}
#postbox {
    height: 105px;
    outline: none;
    border: white;
    background: #e9f0f2;
    width: 580px;
}
#postboxpos {
    top: 45px;
    left: 10px;
    height: 105px;
    width: 580px;
    z-index: 5;
}
#post1pos {
    left: 80px;
    top: 500px;
    width: 100px;
    height: 30px;
}
#buttonpost {
    width: 85px;
    height: 30px;
    border-radius: 4px/4px;
    background: #142170;
    font-size: 15px;
    outline: none;
    color: white;
}
#buttonpost1 {
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 4px/4px;
    color: white;
    background: #142170;
    outline: none;
}
.post {
    top: 70px;
    left: 240px;
    position: absolute;
    width: 600px;
    height: 210px;
}
.postp {
    top: 440px;
    left: 350px;
    position: absolute;
    width: 600px;
    height: 210px;
    display: none;
}
.postpx {
    top: 440px;
    left: 350px;
    position: absolute;
    width: 600px;
    height: 210px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    display: none;
}
.post00 {
    top: 70px;
    left: 240px;
    position: absolute;
    width: 600px;
    height: 210px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.post1 {
    top: 290px;
    left: 240px;
    position: absolute;
    background: white;
    width: 580px;
    height: 600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.post1p {
    top: 660px;
    left: 350px;
    display: none;
    position: absolute;
    background: white;
    width: 580px;
    height: 600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.post1px {
    top: 660px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    left: 350px;
    display: none;
    position: absolute;
    width: 580px;
    height: 600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.post10 {
    top: 290px;
    left: 240px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    position: absolute;
    background: white;
    width: 580px;
    height: 600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.post3 {
    top: 1530px;
    left: 240px;
    position: absolute;
    background: white;
    width: 580px;
    height: 600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.post30 {
    top: 1530px;
    left: 240px;
    position: absolute;
    background: white;
    width: 580px;
    height: 600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.post4 {
    top: 2150px;
    left: 240px;
    position: absolute;
    background: white;
    width: 580px;
    height: 600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.post40 {
    top: 2150px;
    left: 240px;
    position: absolute;
    background: white;
    width: 580px;
    height: 600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.post5 {
    top: 2770px;
    left: 240px;
    position: absolute;
    background: white;
    width: 580px;
    height: 600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.post50 {
    top: 2770px;
    left: 240px;
    position: absolute;
    background: white;
    width: 580px;
    height: 600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
#post1text {
    left: 50px;
    top: 220px;
    padding-top: 10px;
    height: 200px;
    width: 400px;
}
#post2text {
    left: 40px;
    top: 0px;
    padding-top: 10px;
    height: 40px;
    width: 400px;
}
.post2 {
    top: 910px;
    left: 240px;
    background: white;
    position: absolute;
    width: 580px;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 3px/3px;
}
.post20 {
    top: 910px;
    left: 240px;
    background: white;
    position: absolute;
    width: 580px;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 3px/3px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.sidebox {
    top: 70px;
    left: 850px;
    width: 220px;
    height: 570px;
    position: absolute;
    font-family: verdana;
    color: #363030;
    font-size: 15px;
}
.sideboxxx {
    top: 70px;
    left: 850px;
    width: 220px;
    height: 570px;
    position: absolute;
    font-family: verdana;
    color: #363030;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    font-size: 15px;
}
.sideboxxx2 {
    top: 650px;
    left: 850px;
    width: 220px;
    height: 460px;
    position: absolute;
    font-family: verdana;
    color: #363030;
    font-size: 15px;
}
.sideboxxxx2 {
    top: 650px;
    left: 850px;
    width: 220px;
    height: 460px;
    position: absolute;
    font-family: verdana;
    color: #363030;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    font-size: 15px;
}
#sideboxx1 {
    left: 0px;
    width: 180px;
    height: 20px;
    font-size: 20px;
    color: #868383;
}
#sideboxx2 {
    left: 0px;
    width: 180px;
    height: 20px;
    font-size: 20px;
    color: #868383;
}
#sideboxx3 {
    left: 0px;
    width: 180px;
    height: 20px;
    font-size: 20px;
    color: #868383;
}
#sideboxx4 {
    left: 0px;
    width: 180px;
    height: 20px;
    font-size: 20px;
    color: #868383;
}
#sidebox1 {
    top: 0;
    left: 0;
    width: 200px;
    height: 550px;
    background: white;
    border-radius: 3px/3px;
    padding: 10px;
}
#sidebox2 {
    top: 0px;
    left: 0;
    width: 200px;
    height: 440px;
    background: white;
    border-radius: 3px/3px;
    padding: 10px;
}
#sideboxx21 {
    left: 0px;
    width: 180px;
    height: 20px;
    font-size: 20px;
    color: #868383;
}
#sideboxx22 {
    left: 0px;
    width: 180px;
    height: 20px;
    font-size: 20px;
    color: #868383;
}
#sideboxx23 {
    left: 0px;
    width: 180px;
    height: 20px;
    font-size: 20px;
    color: #868383;
}
#side1 {
    top: 0;
    left: 10px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    color: #868383;
}
#side2 {
    top: 30px;
    left: 10px;
    width: 180px;
    height: 15px;
    font-size: 15px;
    color: #363030;
}
#side3 {
    top: 60px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side1:hover {
    background: #e9f0f2;
}
#side3:hover {
    background: #e9f0f2;
}
#side4:hover {
    background: #e9f0f2;
}
#side5:hover {
    background: #e9f0f2;
}
#side6:hover {
    background: #e9f0f2;
}
#side7:hover {
    background: #e9f0f2;
}
#side8:hover {
    background: #e9f0f2;
}
#side9:hover {
    background: #e9f0f2;
}
#side10:hover {
    background: #e9f0f2;
}
#side11:hover {
    background: #e9f0f2;
}
#side12:hover {
    background: #e9f0f2;
}
#side13:hover {
    background: #e9f0f2;
}
#side14:hover {
    background: #e9f0f2;
}
#side15:hover {
    background: #e9f0f2;
}
#side16:hover {
    background: #e9f0f2;
}
#side17:hover {
    background: #e9f0f2;
}
#side18:hover {
    background: #e9f0f2;
}
#side19:hover {
    background: #e9f0f2;
}
#side20:hover {
    background: #e9f0f2;
}
#side21:hover {
    background: #e9f0f2;
}
#side22:hover {
    background: #e9f0f2;
}
#side23:hover {
    background: #e9f0f2;
}
#side24:hover {
    background: #e9f0f2;
}
#side4 {
    top: 85px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side5 {
    top: 110px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side6 {
    top: 145px;
    left: 10px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    color: #868383;
    padding-top: 5px;
}
#side7 {
    top: 175px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side8 {
    top: 200px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side9 {
    top: 225px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side10 {
    top: 250px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side11 {
    top: 285px;
    left: 10px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    color: #868383;
    padding-top: 5px;
}
#side12 {
    top: 315px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side13 {
    top: 340px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side14 {
    top: 375px;
    left: 10px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    color: #868383;
    padding-top: 5px;
}
#side15 {
    top: 405px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side16 {
    top: 430px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side17 {
    top: 455px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side18 {
    top: 490px;
    left: 10px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    color: #868383;
    padding-top: 5px;
}
#side19 {
    top: 520px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side20 {
    top: 545px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side21 {
    top: 580px;
    left: 10px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    color: #868383;
    padding-top: 5px;
}
#side22 {
    top: 610px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
#side23 {
    top: 645px;
    left: 10px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    color: #868383;
    padding-top: 5px;
}
#side24 {
    top: 675px;
    left: 10px;
    width: 160px;
    height: 25px;
    font-size: 15px;
    color: #363030;
    padding-top: 5px;
    padding-left: 20px;
}
.chat-sidebar {
    width: 200px;
    position: fixed;
    height: 605px;
    right: 0px;
    top: 60px;
    background: #e9f0f2;
}
.chat-sidebarx {
    width: 200px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    position: fixed;
    height: 605px;
    right: 0px;
    top: 60px;
    background: #e9f0f2;
}
#chatnamebox {
    width: 150px;
    height: 30px;
    top: 65px;
    color: black;
    font-size: 16px;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnameboxp1 {
    width: 30px;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 8px;
}
#chatnameboxp2 {
    width: 30px;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 48px;
}
#chatnameboxp3 {
    width: 30px;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 88px;
}
#chatnameboxp4 {
    width: 30px;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 128px;
}
#chatnameboxp5 {
    width: 30px;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 168px;
}
#chatnameboxp6 {
    width: 30px;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 208px;
}
#chatnameboxp7 {
    width: 30px;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 248px;
}
#chatnamebox:hover {
    background: #e1e5e6;
}
#chatnamebox1:hover {
    background: #e1e5e6;
}
#chatnamebox2:hover {
    background: #e1e5e6;
}
#chatnamebox3:hover {
    background: #e1e5e6;
}
#chatnamebox4:hover {
    background: #e1e5e6;
}
#chatnamebox5:hover {
    background: #e1e5e6;
}
#chatnamebox6:hover {
    background: #e1e5e6;
}
#chatnamebox1 {
    width: 150px;
    height: 30px;
    top: 105px;
    color: black;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnamebox2 {
    width: 150px;
    height: 30px;
    top: 145px;
    color: black;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnamebox3 {
    width: 150px;
    height: 30px;
    top: 185px;
    color: black;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnamebox4 {
    width: 150px;
    height: 30px;
    top: 225px;
    color: black;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnamebox5 {
    width: 150px;
    height: 30px;
    top: 265px;
    color: black;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnamebox6 {
    width: 150px;
    height: 30px;
    top: 305px;
    color: black;
    padding-top: 8px;
    padding-left: 50px;
}
.coverpad {
    left: 100px;
    top: 60px;
    background: white;
    height: 360px;
    width: 850px;
    position: absolute;
    display: none;
}
.aboutpad {
    left: 100px;
    top: 521px;
    background: white;
    height: 360px;
    width: 850px;
    position: absolute;
    display: none;
}
.aboutpadx {
    left: 100px;
    top: 440px;
    display: none;
    height: 360px;
    width: 850px;
    position: absolute;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.phpad {
    left: 100px;
    top: 440px;
    background: white;
    height: 360px;
    width: 850px;
    position: absolute;
    display: none;
}
.phpadx {
    left: 100px;
    top: 440px;
    display: none;
    height: 360px;
    width: 850px;
    position: absolute;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.frnpad {
    left: 100px;
    top: 440px;
    background: white;
    height: 360px;
    width: 850px;
    position: absolute;
    display: none;
}
.frnpadx {
    left: 100px;
    top: 440px;
    display: none;
    height: 360px;
    width: 850px;
    position: absolute;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.coverpadx {
    /* left: 100px; */
    
    top: 60px;
    height: 360px;
    width: 850px;
    position: absolute;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.profilepic {
    width: 140px;
    height: 140px;
    padding: 5px;
    top: 350;
    left: 50px;
    background: white;
    position: absolute;
    border-radius: 2px/2px;
}
.profilepicx {
    width: 140px;
    height: 140px;
    padding: 5px;
    top: 360px;
    left: 50px;
    position: absolute;
    border-radius: 2px/2px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.username {
    left: 275px;
    font-size: 20px;
    font-family: verdana;
    color: white;
    top: 400px;
    height: 50px;
    width: 200px;
    position: absolute;
    color: #fff;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}
.box11 {
    top: 400px;
    left: 380px;
    padding: 12px;
    background: white;
    position: absolute;
    width: 90px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    height: 40px;
    font-size: 14px;
    font-family: verdana;
    cursor: pointer;
    color: #868383;
}
.box12 {
    top: 400px;
    left: 390px;
    padding: 12px;
    background: white;
    position: absolute;
    width: 90px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    height: 40px;
    font-size: 14px;
    font-family: verdana;
    cursor: pointer;
    color: #868383;
    margin-left: 100px;
}
.box13 {
    top: 400px;
    left: 410px;
    padding: 12px;
    background: white;
    position: absolute;
    width: 90px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    height: 40px;
    font-size: 14px;
    font-family: verdana;
    cursor: pointer;
    color: #868383;
    margin-left: 200px;
}
.box14 {
    top: 400px;
    left: 420px;
    padding: 12px;
    background: white;
    position: absolute;
    width: 90px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    height: 40px;
    font-size: 14px;
    font-family: verdana;
    cursor: pointer;
    color: #868383;
    margin-left: 300px;
}
.box15 {
    top: 400px;
    left: 430px;
    padding: 12px;
    background: white;
    position: absolute;
    width: 90px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    height: 40px;
    font-size: 14px;
    font-family: verdana;
    cursor: pointer;
    color: #868383;
    margin-left: 400px;
}
.box16 {
    top: 400px;
    left: 440px;
    padding: 12px;
    background: white;
    position: absolute;
    width: 90px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    height: 40px;
    font-size: 14px;
    font-family: verdana;
    cursor: pointer;
    color: #868383;
    margin-left: 500px;
}
select {
    top: 375px;
    left: 680px;
    padding: 10px;
    position: absolute;
    width: 110px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    height: 40px;
    font-size: 16px;
    font-family: verdana;
    border: none;
    color: #868383;
    cursor: pointer;
}
.box11:hover {
    background: #e9f0f2;
}
.box12:hover,
.box12:active {
    background: #e9f0f2;
}
.box13:hover {
    background: #e9f0f2;
}
.box14:hover {
    background: #e9f0f2;
}
select:hover {
    background: #e9f0f2;
}
.sidebarp {
    left: 960px;
    top: 70px;
    width: 180px;
    height: 500px;
    position: absolute;
}
.abox1 {
    top: 440px;
    left: 100px;
    display: none;
    position: absolute;
    background: white;
    width: 230px;
    border-radius: 3px/3px;
    height: 400px;
}
.abox1x {
    top: 440px;
    left: 100px;
    display: none;
    position: absolute;
    width: 230px;
    border-radius: 3px/3px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    height: 400px;
}
.abox2 {
    top: 860px;
    left: 100px;
    position: absolute;
    background: white;
    width: 230px;
    border-radius: 3px/3px;
    height: 250px;
    display: none;
}
.abox2x {
    top: 860px;
    left: 100px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    position: absolute;
    background: white;
    width: 230px;
    display: none;
    border-radius: 3px/3px;
    height: 250px;
}
.abox3 {
    top: 1130px;
    left: 100px;
    position: absolute;
    background: white;
    width: 230px;
    display: none;
    border-radius: 3px/3px;
    height: 250px;
}
.abox3x {
    top: 1130px;
    left: 100px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    position: absolute;
    background: white;
    width: 230px;
    display: none;
    border-radius: 3px/3px;
    height: 250px;
}
.error1 {
    height: 20px;
    width: 140px;
    border-radius: 5px/5px;
    position: absolute;
    border-color: red;
    border-style: solid;
    top: 250px;
    color: red;
    font-family: verdana;
    padding: 10px;
    font-size: 15px;
    left: 1130px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    display: none;
}
.error2 {
    height: 20px;
    width: 140px;
    display: none;
    border-radius: 5px/5px;
    position: absolute;
    border-color: red;
    border-style: solid;
    top: 300px;
    color: red;
    font-family: verdana;
    padding: 10px;
    font-size: 15px;
    left: 1130px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.error8 {
    height: 20px;
    width: 140px;
    display: none;
    border-radius: 5px/5px;
    position: absolute;
    border-color: red;
    border-style: solid;
    top: 300px;
    color: red;
    font-family: verdana;
    padding: 10px;
    font-size: 15px;
    left: 1130px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.error9 {
    height: 20px;
    width: 140px;
    display: none;
    border-radius: 5px/5px;
    position: absolute;
    border-color: red;
    border-style: solid;
    top: 350px;
    color: red;
    font-family: verdana;
    padding: 10px;
    font-size: 15px;
    left: 1130px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.error3 {
    height: 20px;
    width: 140px;
    display: none;
    border-radius: 5px/5px;
    position: absolute;
    border-color: red;
    border-style: solid;
    top: 350px;
    color: red;
    font-family: verdana;
    padding: 10px;
    font-size: 15px;
    left: 1130px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.error10 {
    height: 20px;
    width: 160px;
    border-radius: 5px/5px;
    position: absolute;
    border-color: red;
    border-style: solid;
    top: 400px;
    color: red;
    font-family: verdana;
    padding: 10px;
    font-size: 15px;
    left: 1130px;
    display: none;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.error4 {
    height: 20px;
    width: 140px;
    display: none;
    border-radius: 5px/5px;
    position: absolute;
    border-color: red;
    border-style: solid;
    top: 400px;
    color: red;
    font-family: verdana;
    padding: 10px;
    font-size: 15px;
    left: 1130px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.error5 {
    height: 20px;
    width: 140px;
    display: none;
    border-radius: 5px/5px;
    position: absolute;
    border-color: red;
    border-style: solid;
    top: 450px;
    color: red;
    font-family: verdana;
    padding: 10px;
    font-size: 15px;
    left: 1130px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.error6 {
    height: 20px;
    width: 140px;
    border-radius: 5px/5px;
    position: absolute;
    border-color: red;
    border-style: solid;
    top: 500px;
    color: red;
    font-family: verdana;
    padding: 10px;
    font-size: 15px;
    left: 1130px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.error7 {
    height: 20px;
    width: 350px;
    border-radius: 5px/5px;
    position: absolute;
    border-color: red;
    border-style: solid;
    top: 100px;
    color: red;
    font-family: verdana;
    padding: 10px;
    font-size: 15px;
    left: 700px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
#profpic {
    height: 30px;
}